.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: clamp(1rem, 0.4rem + 3vw, 4rem);
}

/* overlay */
.contact_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Bold';
  letter-spacing: 1px;
  font-size: clamp(0.8rem, -0.04rem + 4.2vw, 5rem);
}

.uno {
  color: black;
  width: 66.6%;
  display: flex;
  justify-content: center;
  gap: 2%;
  background: var(--White);
  left: 0%;
}

.dos {
  background: var(--Black);
  left: 66.6%;
  padding-left: 1rem;
  font-style: italic;
}

.contact_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;

}

/* contact text */
.contact_text {
  display: flex;
  flex-direction: row;
  text-align: justify;
  max-width: 75rem;
}

.introduce_title {
  text-transform: uppercase;
  text-align: justify;
  font-size: clamp(2rem, 1.4rem + 3vw, 5rem);
  font-family: 'Bold';
  padding-bottom: clamp(2rem, 1.6rem + 2vw, 4rem);
}

.introduce_title img {
  width: clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem);
  margin-left: -3px;
}

.text_introduce h2 p {
  font-size: clamp(0.9rem, 0.68rem + 1.1vw, 2rem);
  text-transform: uppercase;
  font-weight: 100;
  padding-left: clamp(0rem, -1.6rem + 8vw, 8rem);
}

.text_introduce p:nth-child(1) span:nth-child(3) {
  text-decoration: none;
}

.introduce_paragraph img {
  width: clamp(3.125rem, 2.75rem + 1.875vw, 5rem);
  height: clamp(0.625rem, 0.4375rem + 0.9375vw, 1.5625rem);
  object-fit: cover;
  border-radius: clamp(0.3125rem, -0.25rem + 2.8125vw, 3.125rem);
}

.introduce_paragraph svg {
  width: clamp(0.8125rem, 0.6875rem + 0.625vw, 1.4375rem);
}

/* contact links */
.contact_links ul {
  display: flex;
  gap: 10px;
  padding: 15px 0;
  padding-left: clamp(0rem, -1.6rem + 8vw, 8rem);
}

.links_social li {
  display: flex;
  border: 1px solid var(--White);
  padding: .4rem 1.5rem .2rem 1.5rem;
  border-radius: 5px;
  transition: all .5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.links_social a {
  transition: all .5s ease;
  font-family: 'Saudagar';
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.links_social li svg {
  width: 15px;
  margin-right: 8px;
  margin-top: -4px;
  transition: all .5s ease;
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.links_social li:hover svg {
  transform: translateX(1px) rotate(-45deg);
}

.links_social li span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.links_social li:hover span {
  transform: translateX(2px);
}

/* contact img */
.contact_img img {
  object-fit: cover;
  width: 100%;
  height: 5rem;
  border-radius: 0;
  padding: 1rem 0 .5rem 0;
}

/* media queries */
@media screen and (width >= 1024px) { 
  .contact_title h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* gif */
.contact_gif {
  padding: 0 1rem;
  display: flex;
  justify-content: end;
  margin-bottom: clamp(8rem, 6.6rem + 7vw, 15rem);
}

/* marquee */
.double_marquee {
  padding-bottom: clamp(1rem, 0.2rem + 4vw, 5rem);
}

.marquee {
  align-items: center;
  display: flex;
  justify-content: center;
  height: clamp(2.5rem, 2.3rem + 1vw, 3.5rem);
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: var(--Black);
  background-color: var(--Gray);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.marquee div {
  min-width: 100%;
  position: absolute;
}

.marquee div span,
.marquee div:after {
  display: inline-block;
  position: relative;
  top: 0;
  white-space: nowrap;
}

/* first marquee */
.marquee div span {
  animation: marquee 40s infinite linear;
}

.marquee div:after {
  animation: marquee1 40s infinite linear;
  content: attr(data-text);
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes marquee {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes marquee1 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

/* second marquee */
.marquee_second div span {
  animation: marquee2 40s infinite linear;
}

.marquee_second div:after {
  animation: marquee3 40s infinite linear;
  content: attr(data-text);
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes marquee2 {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes marquee3 {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}