.contact {
  /* height: 100vh; */
  width: 100vw;
  padding: 1rem .5rem .2rem .5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 3rem;
}

.title_line {
  margin-top: -15px;
  opacity: .5;
  width: 250px;
}

.contact_line {
  opacity: .5;
  width: 125px;
}

.contact_main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.contact_title h1 {
  font-family: 'Bold';
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
}

.contact_title span:nth-child(1),
.contact_title span:nth-child(2),
.contact_title span:nth-child(4) {
  font-size: clamp(4rem, 2.4rem + 8vw, 12rem);
}

.contact_title span:nth-child(2) {
  animation: ScaleBottom 1s .1s ease;
}

.title_bottom {
  display: flex;
  align-self: end;
  font-style: italic;
  margin-right: clamp(0.3125rem, 0.125rem + 0.9375vw, 1.25rem);
  animation: ScaleBottom 1s .3s ease;
}

/* contact datas */
.contact_element {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title_text {
  font-size: clamp(0.9rem, 0.68rem + 1.1vw, 2rem);
  max-width: clamp(15.625rem, 9.75rem + 29.375vw, 45rem);
  text-transform: uppercase;
  animation: ScaleBottom 1s .2s ease;
  text-align: justify;
  padding-bottom: 12px;
}

.contact_element ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact_element h3 {
  letter-spacing: normal;
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  animation: ScaleBottom 1s .2s ease;
}

.contact_element a:hover {
  color: var(--Purple);
}

/* gif */
.contact_gif {
  display: flex;
  justify-content: end;
  filter: grayscale(.8);
}

/* media queries */
@media screen and (width >= 768px) {
  .contact_element {
    display: flex;
    justify-content: center;
    padding: 3rem 10rem;
  }
  .contact_element ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}