.contact {
  /* height: 100vh; */
  width: 100vw;
  padding: 1rem .5rem .2rem .5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title_line {
  margin-top: -15px;
  opacity: .5;
  width: 250px;
}

.contact_line {
  opacity: .5;
  width: 125px;
}

.contact_main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  /* height: 100vh; */
}

.contact_title h1 {
  font-family: 'Bold';
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-between;
}

.contact_title span:nth-child(1),
.contact_title span:nth-child(2),
.contact_title span:nth-child(4) {
  font-size: clamp(4rem, 2.4rem + 8vw, 12rem);
}

.contact_title span:nth-child(2) {
  animation: ScaleBottom 1s .1s ease;
}

.contact_title span:nth-child(4) {
  display: flex;
  align-self: end;
  font-style: italic;
  /* margin-right: 20px; */
  animation: ScaleBottom 1s .3s ease;
}

.title_text {
  font-family: 'Pergola';
  font-size: .9rem;
  font-weight: 100;
  text-transform: none;
  max-width: 200px;
  animation: ScaleBottom 1s .2s ease;
  text-align: justify;
  padding-bottom: 12px;
}

/* contact datas */
.contact_element {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact_element ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact_element h3 {
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 900;
  animation: ScaleBottom 1s .2s ease;
}

/* social media */
.contact_social ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-transform: uppercase;
}

.social_media li {
  transition: all .5s ease;
}

.social_media li:hover {
  transform: translate(0, -2px);
}

/* bottom */
.contact_bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.contact_bottom button { 
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  border: 1px solid var(--Gray);
  padding: .5rem .7rem .2rem .7rem;
  border-radius: 5px;
  text-transform: uppercase;
  background: transparent;
}

.contact_bottom button:hover {
  color: var(--Purple);
  border: 1px solid var(--Purple);
}

/* gif */
.contact_gif iframe {
  display: flex;
  width: 200px;
}

/* media queries */
@media screen and (width >= 768px) {
  hr {
    display: none;
  }
  .contact_element {
    display: flex;
    flex-direction: row;
  }
}0