/* header */
.menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem .8rem 0 .8rem;
}

/* logo */
.menu_brand img {
  cursor: pointer;
  width: 30px;
}

/* links */
.menu_list ul {
  display: flex;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  gap: 5px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.menu_list a {
  color: var(--White);
  border: 1px solid var(--Gray);
  padding: .4rem .7rem 0 .7rem;
  border-radius: 5px;
}

.menu_list a:hover {
  color: var(--Purple);
  border: 1px solid var(--Purple);
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_year h2 {
  margin: 3rem 0 -8rem 0;
  display: flex;
  align-items: center;
  font-size: 15rem;
  font-family: 'Aceh';
  flex-direction: column;
  letter-spacing: 15px;
}

/* hero image */
.hero_img {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.hero_img img {
  width: 100vw;
}

/* grid section */
.hero_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin-top: .3rem;
}
  
.grid_text { 
  grid-area: 1 / 1 / 2 / 2;
  text-align: justify;
  text-transform: uppercase;
  font-size: .8rem;
}

.grid_asterisque {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  place-items: end;
}

.grid_img { 
  grid-area: 2 / 1 / 3 / 3; 
  display: grid;
}

.grid_img img {
  width: 100%;
  object-fit: cover;
  height: 60px;
}

.grid_flags img:hover {
  filter: grayscale(0);
}

.grid_name { 
  text-transform: uppercase;
  font-family: 'Milany';
  display: grid;
  justify-items: center;
}

.grid_name span {
  font-size: .9rem;
  color: var(--Gray);
}

.grid_name img {
  width: 50px;
  display: flex;
  margin-bottom: 10px;
}

.grid_name img {
  animation: spinner 50s linear infinite; 
}

@keyframes spinner {
  to { 
    transform: rotate(360deg);
  }
}


/* media queries */
@media screen and (width >= 768px) {
  .hero_part {
    display: flex;
  }
  .hero_year {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(270deg);
    margin-left: -3rem;
    margin-right: -190px;
  }
  .hero_year h2 {
    font-size: 20rem;
  }
  .hero_img {
  }
}