/* header */
.menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem .8rem 0 .8rem;
}

.menu_brand img {
  cursor: pointer;
  width: 30px;
}

.menu_list ul {
  display: flex;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  gap: clamp(2rem, 1.4rem + 3vw, 5rem);
  text-transform: uppercase;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.hero_year h2 {
  margin-bottom: -3rem;
  display: flex;
  /* transform: rotate(270deg); */
  align-items: center;
  font-size: 10rem;
  font-family: 'Glock';
  flex-direction: column;
  width: 100vw;
}

.hero_img img {
  width: 100vw;
}

.hero_title h1 {
  text-transform: uppercase;
  /* margin-top: -12px; */
}
/* barcode section */
.hero_barcode {
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap: 5rem;
  justify-content: center;
}

.barcode_img h3 {
  margin-bottom: -40px;
  font-family: 'Glock';
}

.barcode_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barcode_img img {
  transform: rotate(90deg);
  width: 40px;
}

.barcode_asterisque img {  
  width: 90px;
  animation: spinner 15s linear infinite; 
}

@keyframes spinner {
  to { 
    transform: rotate(360deg);
  }
}