/* header */
.menu {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem .8rem 0 .8rem;
}

.menu_brand img {
  cursor: pointer;
  width: 30px;
}

.menu_list ul {
  display: flex;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  gap: clamp(2rem, 1.4rem + 3vw, 5rem);
  text-transform: uppercase;
}

.menu_list li:hover {
  color: var(--Purple);
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.hero_year h2 {
  margin: 3rem 0 -4.5rem 0;
  display: flex;
  /* transform: rotate(270deg); */
  align-items: center;
  font-size: 15rem;
  font-family: 'Aceh';
  flex-direction: column;
  width: 100vw;
  letter-spacing: 15px;
}

/* hero image */
.hero_img {
  display: flex;
  justify-content: center;
  position: relative;
}

.hero_img h1 {
  position: absolute;
  bottom: -15px;
  z-index: 1;
  text-transform: uppercase;
  color: var(--Gray);
  font-family: 'Milany';
  font-size: 3rem;
  /* -webkit-text-stroke: .1px var(--Gray); */
  letter-spacing: 3px;
}

.hero_img img {
  position: relative;
  width: 100vw;
}

/* grid section */
.hero_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: .5rem;
}
  
.grid_text { 
  grid-area: 1 / 1 / 2 / 2;
  text-align: justify;
  text-transform: uppercase;
  font-size: .8rem;
}

.grid_asterisque {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  place-items: center;
}

.grid_asterisque img {
  animation: spinner 50s linear infinite; 
  width: 80px;
}

@keyframes spinner {
  to { 
    transform: rotate(360deg);
  }
}

.grid_img { 
  grid-area: 2 / 1 / 3 / 3; 
  display: grid;
}

.grid_img img {
  width: 100%;
  object-fit: cover;
  height: 60px;
}

.grid_flags {
  display: flex;
  grid-area: 3 / 1 / 4 / 2; 
  align-items: center;
  justify-content: center;
}

.grid_flags img {
  width: 50px;
  display: flex;
  aspect-ratio: 16 / 9;
  filter: grayscale(1);
}

.grid_flags img:hover {
  filter: grayscale(0);
}

.grid_name { 
  text-transform: uppercase;
  font-family: 'Milany';
  display: grid;
  justify-items: center;
  align-items: center;
}

.grid_name span {
  font-size: .9rem;
}

/* .grid_flags { 
  grid-area: 4 / 1 / 5 / 2; 
  display: flex;
}

.grid_flags img {
  width: 50px;
} */

/* .grid_job {
  grid-area: 4 / 2 / 5 / 3; 
} */





/* .hero_barcode {
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap: 5rem;
  justify-content: center;
  margin-top: 2rem;
}

.barcode_img h3 {
  margin-bottom: -40px;
  font-family: 'Glock';
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
