/* header */
.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem .8rem;
  z-index: 1;
}

.asterisque {
  z-index: -10;
}

.asterisque img {
  position: absolute;
  opacity: .5;
  width: clamp(12.5rem, 8.75rem + 18.75vw, 31.25rem);
}

/* logo */
.menu_brand img {
  cursor: pointer;
  width: 30px;
}

/* links */
.menu_list ul {
  display: flex;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
  gap: 2rem;
  text-align: center;
}

.list_element h3 {
  display: flex;
  transition: all .5s ease;
  display: flex;
  align-items: flex-end;
}

.list_element h3:hover {
  transform: translate(0, -2px);
}

.menu_number {
  margin-right: 5px;
  font-size: 1rem;
  font-family: 'Aceh';
}

/* hero section */
.hero_title {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  gap: 2rem;
  position: relative;
}

.hero_title h1 {
  font-size: clamp(1.8rem, 0.16rem + 8.2vw, 10rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: clamp(3rem, 1.6rem + 7vw, 10rem);
}

.hero_title h1 span:nth-child(1) {
  color: var(--Black);
  -webkit-text-stroke-width: clamp(0.03125rem, 0.0125rem + 0.0938vw, 0.125rem);;
  -webkit-text-stroke-color: var(--White);
}

.hero_text { 
  text-align: justify;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 0.66rem + 0.7vw, 1.5rem);
  max-width: 70rem;
  padding: 0 1rem;
  line-height: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
}

.hero_text img {
  width: clamp(0.5rem, 0.4rem + 0.5vw, 1rem);
  object-fit: contain;
}

.hero_text img:nth-child(1) {
  width: 100%;
  height: clamp(1.875rem, 1.625rem + 1.25vw, 3.125rem);
  object-fit: cover;
}

.hero_button {
  margin-top: clamp(1rem, 0.8rem + 1vw, 2rem);
  display: flex;
  gap: 30px;
}

.hero_button a {
  transition: all .5s ease;
  text-transform: initial;
  border: 1px solid var(--Gray);
  padding: .5rem 1.2rem .4rem 1.2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_button a:hover {
  transform: translate(0, -2px);
}

.hero_button a:nth-child(2) {
  background-color: var(--Gray);
  color: var(--Black);
}

/* social media */
.social_media {
  left: .8rem;
  position: fixed;
  width: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);;
  z-index: 10;
  bottom: .8rem;
}

.social_media ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social_media li {
  transition: all .5s ease;
}

.social_media li:hover {
  transform: translate(2px, 0);
}

/* banner title */
.banner_title {
  padding-bottom: 8rem;
}

.introduce_title {
  text-transform: uppercase;
  text-align: justify;
  font-size: clamp(2rem, 1.4rem + 3vw, 5rem);
  font-family: 'Bold';
  padding-bottom: clamp(2rem, 1.6rem + 2vw, 4rem);
  padding: 0 1rem 5rem 1rem;
}

.introduce_title p {
  font-family: 'Pergola';
  text-transform: uppercase;
  font-weight: 100;
  max-width: 560px;
  margin-top: 20px;
  font-size: initial;
  text-transform: none;
  text-align: justify;
}

.introduce_title img {
  width: clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem);
  margin-left: -3px;
}

.introduce_title p:nth-child(1) span:nth-child(3) {
  text-decoration: none;
}

.introduce_paragraph img {
  width: 30px;
  height: 10px;
  margin: 0 3px;
  object-fit: cover;
  border-radius: clamp(0.3125rem, -0.25rem + 2.8125vw, 3.125rem);
}

.introduce_paragraph svg {
  width: clamp(0.8125rem, 0.6875rem + 0.625vw, 1.4375rem);
}

/* grid gallery */
.grid_gallery {
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 5rem;
}

/* media queries */
@media screen and (width >= 768px) {
  .grid_gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid rgba(180, 180, 180, .3);
  }
}

@media screen and (width >= 1440px) {
  .grid_gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery_box {
    border-right: 1px solid rgba(180, 180, 180, .3);
  }
}

.gallery_box {
  border-top: 1px solid rgba(180, 180, 180, .3);
  display: flex;
  width: 100%;
  gap: 1rem;
}

.box_title {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

.box_title h4 {
  font-family: 'Aceh';
  font-size: clamp(3rem, 2.6rem + 2vw, 5rem);
  font-weight: 100;
}

.box_title h5 {
  filter: drop-shadow(0 0 8rem var(--Gray));
  padding: 1rem 0rem;
  font-family: 'Bold';
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}

.box_title h5 span {
  text-decoration: none;
  color: var(--Purple);
}

.box_title h5 p {
  transform: rotate(180deg);
  filter: grayscale(1);
  opacity: .2;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.box_title h5 p svg {
  width: 25px;
}

.box_title p {
  font-family: 'Pergola';
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 100;
  height: 20rem;
}

.gallery_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  width: 100%;
  opacity: .7;
}

.gallery1 {
  background-image: url(./../shared/oriental-market.jpg);
}

.gallery2 {
  background-image: url(./../shared/pantheon.jpg);
}

.gallery3 {
  background-image: url(./../shared/tajine.jpg);
}

.gallery4 {
  background-image: url(./../shared/cityscape_paris.jpg);
}



/* work */
/* paragraph */
.work_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work_text p {
  padding-bottom: clamp(5rem, 4rem + 5vw, 10rem);
  text-transform: uppercase;
  text-align: justify;
  max-width: 70rem;
  margin: 5rem 1rem 0 1rem;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  line-height: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.8125rem);
}

.work_text img {
  width: clamp(3.125rem, 2.75rem + 1.875vw, 5rem);
  height: clamp(0.625rem, 0.4375rem + 0.9375vw, 1.5625rem);
  object-fit: cover;
  border-radius: clamp(0.3125rem, -0.25rem + 2.8125vw, 3.125rem);
}

.work_text img:nth-child(4) {
  width: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
  object-fit: contain;
}

/* media queries */
@media screen and (width >= 768px) {
  .work_text p {
    padding: 4.5rem 4rem;
  }
  .work_text {
    padding-bottom: 8rem;
  }
}

/* skills list */
.list_skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: clamp(10rem, 9rem + 5vw, 15rem);
}

.skills {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-transform: capitalize;
  opacity: .7; 
}

.skills li {
  border: 1px solid var(--Gray);
  padding: .6rem 1rem .4rem 1rem;
  border-radius: 5px;
  background-color: var(--Black);
  transition: all .5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.skills li svg {
  display: flex;
  align-items: center;
  width: 20px;
  margin-top: -4px;
}

.skills:hover li {
  transform: translate(0, -2px);
}

.skills li:hover svg{
  color: var(--Purple);
}

/* accordion text */
.work_accordion h1 {
  text-transform: uppercase;
  padding: 5rem 1rem;
  text-align: justify;
  font-size: clamp(2rem, 1.4rem + 3vw, 5rem);
  font-family: 'Bold';
}

.work_accordion img {
  width: clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem);
  margin-left: -3px;
}

.work_accordion p {
  max-width: 500px;
  margin-top: 20px;
  font-family: 'Pergola';
  font-weight: 100;
  font-size: initial;
  text-transform: none;
}

/* accordion */
.accordion_list {
  width: 100%;
  padding-bottom: clamp(8rem, 6.6rem + 7vw, 15rem);
}

.accordion_element {
  display: flex;
  gap: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
  padding-top: 5px;
  font-size: clamp(0.8rem, 0.36rem + 2.2vw, 3rem);
  align-items: center;
}

.accordion_list li {
  font-family: 'bold';
  border-top: 1px solid var(--Gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1.2rem, 0.74rem + 2.3vw, 3.5rem);
  width: 100%;
  text-transform: uppercase;
  opacity: .7;
  border-left: none;
  border-right: none;
  background: linear-gradient(white, white) 0% 100% / 100% 0% no-repeat;
  transition: background-size 0.5s ease;
  position: relative;
}

.accordion_list li:nth-last-child(1) {
  border-bottom: 1px solid var(--Gray);
}

.accordion_list li:hover {
  opacity: 1;
  color: var(--Black);
  background-size: 100% 100%;
}

/* tooltip */
.tooltip_image {
  opacity: 0;
  position: absolute;
  bottom: -10%;
  left: 40%;
  width: clamp(18.75rem, 16.25rem + 12.5vw, 31.25rem);
  z-index: 100;
  overflow: hidden;
  transition: opacity 0.3s ease-out;
}

.tooltip_image img {
  clip-path: inset(100% 0 0 0);
  transition: clip-path .8s ease-out;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.accordion_list li:hover .tooltip_image {
  opacity: 1;
}

li:hover .tooltip_image img {
  clip-path: inset(0 0 0 0);

}

/* media queries */
@media screen and (width < 1024px) {
  .tooltip_image {
    display: none;
  }
}

/* number */
.accordion_number {
  font-family: 'Aceh';
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  padding-top: clamp(0.0625rem, -0.075rem + 0.6875vw, 0.75rem);
}

/* button git */
.accordion_git {
  font-family: 'Pergola';
  background-color: var(--Black);
  border-radius: 5px;
  border: 1px solid var(--Gray);
  text-transform: capitalize;
  padding: .5rem .8rem;
  transition: all .5s ease;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
}

.accordion_git:hover {
  transform: translate(0, -2px);
}



/* contact */
.contact_main {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 1.5rem;
}

.contact_main h5 {
  font-family: 'Saudagar';
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  font-style: italic;
  padding: 0 1rem;
}

.contact_social ul {
  padding: 0 1rem;
}

.contact_social h6 {
  margin-bottom: .3rem;
  font-size: 1rem;
  font-weight: 900;
}

.contact_social a,
.contact_social p {
  text-transform: lowercase;
  transition: all .5s ease;
}

.contact_social a:hover {
  color: var(--Purple);
}

.contact_img {
  display: flex;
  justify-content: center;
  align-items: end;
}

.contact_info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.contact_img p {
  color: var(--White);
  font-weight: 900;
  background-color: var(--Black);
  border: 1px solid white;
  margin-bottom: 10px;
  padding: 1rem;
  width: 120px;
  text-align: center;
}

.contact_ {
  /* chiffre */
}

.contact_img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.social_links {
  display: flex;
  gap: .8rem;
}

.social_links li {
  transition: all .5s ease;
  width: 25px;
}

.social_links li:hover {
  transform: translate(0, -2px) !important;
}

/* media queries */
@media screen and (width >=490px) {
  .contact_main {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  .contact_img img {
    max-width: 900px;
    height: 100%;
    flex: 1;
  }
  .contact_social ul {
    display: flex;
    gap: 15px;
  }
}



/* marquee */
.double_marquee {
  padding-top: clamp(8rem, 6.6rem + 7vw, 15rem);
  padding-bottom: clamp(1rem, 0.2rem + 4vw, 5rem);
}

.marquee {
  align-items: center;
  display: flex;
  justify-content: center;
  height: clamp(2.5rem, 2.3rem + 1vw, 3.5rem);
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  text-transform: uppercase;
  color: var(--Black);
  background-color: var(--Gray);
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}

.marquee div {
  min-width: 100%;
  position: absolute;
}

.marquee div span,
.marquee div:after {
  display: inline-block;
  position: relative;
  top: 0;
  white-space: nowrap;
}

/* first marquee */
.marquee div span {
  animation: marquee 40s infinite linear;
}

.marquee div:after {
  animation: marquee1 40s infinite linear;
  content: attr(data-text);
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes marquee {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}

@keyframes marquee1 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}

/* second marquee */
.marquee_second div span {
  animation: marquee2 40s infinite linear;
}

.marquee_second div:after {
  animation: marquee3 40s infinite linear;
  content: attr(data-text);
  left: 0;
  position: absolute;
  top: 0;
}

@keyframes marquee2 {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes marquee3 {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 100%;
  }
}



/* footer */
footer {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid var(--White);
  font-family: 'Pergola';
  width: 100vw;
  background-color: var(--Black);
  margin-top: 1rem;
  z-index: -99;
}

.footer {
  padding: 4rem 0 0 0;
}

/* titles */
.footer_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer_title h5 {
  font-size: clamp(2rem, 1.5897rem + 2.0513vw, 4rem);
  margin-bottom: 0;
  font-family: 'Bold';
}

.footer_title span {
  text-decoration: none !important;
}

.footer_title h6 {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2rem;
}

/* buttons */
.footer_button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  align-items: center;
  gap: 10px;
}

.footer_button a {
  color: var(--White);
  border: 1px solid var(--Gray);
  border-radius: 5px;
  display: inline-block;
  transition: all .5s ease;
  width: 100px;
  text-transform: capitalize;
  padding: 1.5px 0;
}

.footer_button a:hover {
  transform: translate(0, -2px) !important;
}

/* bottom */
.footer_bottom {
  padding-top: 5rem;
}

.footer_bottom p {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom-title {
  padding-top: 5rem;
  margin-bottom: 0;
  padding-bottom: 5rem;
}

.bottom_title span,
.bottom-title a {
  font-size: clamp(0.5rem, 0.46rem + 0.2vw, 0.7rem);
}