/* paragraph */
.work_text {
  display: flex;
  justify-content: center;
  padding-bottom: clamp(5rem, 4rem + 5vw, 10rem);
}

.work_text p {
  text-transform: uppercase;
  text-align: justify;
  max-width: 80rem;
  padding: 2.5rem 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
}

.work_text img {
  width: 50px;
  height: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.work_text img:nth-child(4) {
  width: 10px;
  object-fit: contain;
}

/* skills list */
.list_skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: clamp(10rem, 9rem + 5vw, 15rem);
}

.skills {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-transform: capitalize;
}

.skills li {
  border: 1px solid var(--Gray);
  opacity: .6; 
  padding: .6rem 1rem .4rem 1rem;
  border-radius: 5px;
  background-color: var(--Black);
  transition: all .5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.skills li svg {
  display: flex;
  align-items: center;
  width: 20px;
  margin-top: -3px;
}

.skills li:hover {
  opacity: 1;
  cursor: pointer;
  transform: translate(0, -2px);
}

/* media queries */
@media screen and (width >= 768px) {
  .work_text p {
    padding: 4.5rem 4rem;
  }
}

/* accordion */
.accordion_list {
  width: 100%;
  padding-bottom: 15rem;
}

.accordion_list li {
  border-top: 1px solid var(--Gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1.2rem, 0.74rem + 2.3vw, 3.5rem);
  width: 100%;
  text-transform: uppercase;
  opacity: .7;
  border-left: none;
  border-right: none;
  background: linear-gradient(white, white) 0% 100% / 100% 0% no-repeat;
  transition: background-size 0.5s ease;
  position: relative;
}

.tooltip_image {
  display: none;
  position: absolute;
  bottom: -10%;
  left: 40%;
  width: clamp(18.75rem, 16.25rem + 12.5vw, 31.25rem);
  z-index: 10;
  transition: 0.5s ease;
}

.accordion_list li:hover .tooltip_image {
  display: block;
}

.tooltip_image img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

@media screen and (width < 1024px) {
  .accordion_list li:hover .tooltip_image {
    display: none;
  }
}

.accordion_list li:nth-last-child(1) {
  border-bottom: 1px solid var(--Gray);
}

.accordion_list li:hover {
  opacity: 1;
  color: var(--Black);
  background-size: 100% 100%;
}

.accordion_element {
  display: flex;
  gap: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
  padding-top: 5px;
  font-size: clamp(0.8rem, 0.36rem + 2.2vw, 3rem);
  align-items: center;
}

.accordion_number {
  font-family: 'Aceh';
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  padding-top: clamp(0.0625rem, -0.075rem + 0.6875vw, 0.75rem);
}

.accordion_git {
  background-color: var(--Black);
  border-radius: 5px;
  border: 1px solid var(--Gray);
  text-transform: capitalize;
  padding: .5rem .8rem;
  transition: all .5s ease;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
}

.accordion_git:hover {
  transform: translate(0, -2px);
}