/* paragraph */
.work_text {
  display: flex;
  justify-content: center;
  /* padding-bottom: clamp(5rem, 4rem + 5vw, 10rem); */
  flex-direction: column;
  align-items: center;
}

.work_text p {
  padding-bottom: clamp(5rem, 4rem + 5vw, 10rem);
  text-transform: uppercase;
  text-align: justify;
  max-width: 70rem;
  margin: 4rem 1rem 0 1rem;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  line-height: clamp(1.25rem, 0.9375rem + 1.5625vw, 2.8125rem);
}

.work_text img {
  width: clamp(3.125rem, 2.75rem + 1.875vw, 5rem);
  height: clamp(0.625rem, 0.4375rem + 0.9375vw, 1.5625rem);
  object-fit: cover;
  border-radius: clamp(0.3125rem, -0.25rem + 2.8125vw, 3.125rem);
}

.work_text img:nth-child(4) {
  width: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
  object-fit: contain;
}

.work_lottie {
  display: none;
}

/* media queries */
@media screen and (width >= 768px) {
  .work_text p {
    padding: 4.5rem 4rem;
  }
  .work_text {
    padding-bottom: 8rem;
  }
}

/* lottie */
@media screen and (width >= 1440px) {
  .work_lottie {
    display: flex;
  }
  .work_lottie lottie-player {
    filter: drop-shadow(0 0 .3rem var(--Purple));
    width: 25rem;
    height: auto;
    position: absolute;
    top: 25rem;
    margin-left: 5rem;
  }
}

/* skills list */
.list_skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: clamp(10rem, 9rem + 5vw, 15rem);
}

.skills {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-transform: capitalize;
  opacity: .7; 
}

.skills li {
  border: 1px solid var(--Gray);
  padding: .6rem 1rem .4rem 1rem;
  border-radius: 5px;
  background-color: var(--Black);
  transition: all .5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.skills li svg {
  display: flex;
  align-items: center;
  width: 20px;
  margin-top: -4px;
}

.skills:hover li {
  transform: translate(0, -2px);
}

.skills li:hover svg{
  color: var(--Purple);
}

/* accordion text */
.work_accordion h1 {
  text-transform: uppercase;
  padding: 5rem 1rem;
  text-align: justify;
  font-size: clamp(2rem, 1.4rem + 3vw, 5rem);
  font-family: 'Bold';
}

.work_accordion img {
  width: clamp(0.9375rem, 0.875rem + 0.3125vw, 1.25rem);
  margin-left: -3px;
}

.work_accordion p {
  max-width: 500px;
  margin-top: 20px;
  font-family: 'Pergola';
  font-weight: 100;
  font-size: initial;
  text-transform: none;
}

/* accordion */
.accordion_list {
  width: 100%;
  padding-bottom: clamp(8rem, 6.6rem + 7vw, 15rem);
}

.accordion_element {
  display: flex;
  gap: clamp(0.625rem, 0.125rem + 2.5vw, 3.125rem);
  padding-top: 5px;
  font-size: clamp(0.8rem, 0.36rem + 2.2vw, 3rem);
  align-items: center;
}

.accordion_list li {
  font-family: 'bold';
  border-top: 1px solid var(--Gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(1.2rem, 0.74rem + 2.3vw, 3.5rem);
  width: 100%;
  text-transform: uppercase;
  opacity: .7;
  border-left: none;
  border-right: none;
  background: linear-gradient(white, white) 0% 100% / 100% 0% no-repeat;
  transition: background-size 0.5s ease;
  position: relative;
}

.accordion_list li:nth-last-child(1) {
  border-bottom: 1px solid var(--Gray);
}

.accordion_list li:hover {
  opacity: 1;
  color: var(--Black);
  background-size: 100% 100%;
}

/* tooltip */
.tooltip_image {
  opacity: 0;
  position: absolute;
  bottom: -10%;
  left: 40%;
  width: clamp(18.75rem, 16.25rem + 12.5vw, 31.25rem);
  z-index: 100;
  overflow: hidden;
  transition: opacity 0.3s ease-out;
}

.tooltip_image img {
  clip-path: inset(100% 0 0 0);
  transition: clip-path .8s ease-out;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.accordion_list li:hover .tooltip_image {
  opacity: 1;
}

li:hover .tooltip_image img {
  clip-path: inset(0 0 0 0);

}

/* media queries */
@media screen and (width < 1024px) {
  .tooltip_image {
    display: none;
  }
}

/* number */
.accordion_number {
  font-family: 'Aceh';
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  padding-top: clamp(0.0625rem, -0.075rem + 0.6875vw, 0.75rem);
}

/* button git */
.accordion_git {
  font-family: 'Pergola';
  background-color: var(--Black);
  border-radius: 5px;
  border: 1px solid var(--Gray);
  text-transform: capitalize;
  padding: .5rem .8rem;
  transition: all .5s ease;
  font-size: clamp(0.8rem, 0.76rem + 0.2vw, 1rem);
}

.accordion_git:hover {
  transform: translate(0, -2px);
}